body{
    position: relative;
    
}

.footer {
    background-color: #000;
    padding: 50px 0px;
    color: #fff;
    text-align: center;
    height: 50px;
    width: 1500px;
    position: relative;
    bottom: 0;
}